.order {
    padding: 40px;
    margin: 29px 29px;
    border: 1px solid lightgray;
    background-color: white;
    position: relative;
}

.order__id {
    position: absolute;
    top: 40px;
    right: 20px;
  }

.order__total {
    font-weight: 500;
    text-align: right;
  }
  @media screen and (max-width: 670px) {

    
  }
  